h1,h2,h3,h4,h5,h6, .articleSource{
    font-family: 'Nerko One', cursive;
}

p,a,input,label,textarea,span,ul,li{
    font-family: 'Nerko One', cursive;
}

.btn{
    background: #43BFC7;
    color: white;
    padding: 9px 20px;
    border-radius: 20px;
}

#onlinePartner{
    background: #eb6434;
    color: white;
    padding: 9px 20px;
    border-radius: 20px;
}

.topic1, .topic2{
    margin-bottom: 10px;
}

#userInput1, #userInput2{
    border-radius: 10px;
}

#intro .jumbotron{
    height:20vh;
    margin-bottom:50px;
}

#main .jumbotron{
    height:15vh;
    margin-bottom:0px;
}

#button .jumbotron{
    height:20vh;
    margin-bottom:20px;
}

#intro h1{
    font-size: calc(1.375rem + 2vw);
}

#intro .container{
    position: relative;
    top: 50%;
}

#intro .lead{
    font-size: 1.3rem;
    font-weight: 500;
}

header nav img{
    width: 100px;
}

header li{
    margin: 0 15px;
}

.all-news .container .row{
    background-color: #ECF0F1;
    height: 220px;
    margin-bottom: 20px;
    padding: 9px 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0,08);
}

div[id^="articleClicked_"]{
    flex-grow:1; /* let it grow to the whole space when no matched news*/
    background-color: #CFECEC;
    height: 200px;
    /* margin: auto; */
    padding: 9px 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0,08);
    overflow-y: scroll;
    overflow-x: hidden;
}

div[id^="articleMatched_"]{
    background-color: #FFF5EE;
    height: 200px;
    /* margin: auto; */
    padding: 9px 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0,08);
    overflow-y: scroll;
    overflow-x: hidden;
}

div[id^="articleDate_"]{
    font-size: 100%;
    font-weight: bold;
}



footer{
    border-top: solid 1px #c9c9c9;
    padding: 80px 0px;
}

footer img{
    width: 80px;
}

div[id^="source_"]{
    font-size: 150%;
    font-weight: bold;
}

